body {
    font-size: 125%;
}

table {
	margin-top: 15px; 
}

table td {
	min-width: 200px;
	padding: 10px;
}

table tr {
	border: 1px solid #ccc;
}

h2 {
	font-size: 120%;
}

.progress {
	z-index: 1000;
}

.slide-content {
    width: 70%;
    height: 80%;
}

/* custom slide styles */
.image-page .slide-content > p {
    text-align: center;
}

.image-page .slide-content img {
    margin-top: 15px;
    max-width: 100%;
}

.microbenchmark table {
    margin-top: 15px;
    font-size: 80%;    
}

.microbenchmark table td {
    text-align: right;
}

.microbenchmark table td:first-child {
    text-align: left;
}
